/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5b99e2;
  --ifm-color-primary-dark: #3770b2;
  --ifm-color-primary-darker: #1b4b81;
  --ifm-color-primary-darkest: #092545;
  --ifm-color-primary-light: #6ca8eb;
  --ifm-color-primary-lighter: #8ca8eb;
  --ifm-color-primary-lightest: #a0c5ef;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1d76ea;
  --ifm-color-primary-dark: #0952b1;
  --ifm-color-primary-darker: #073a7c;
  --ifm-color-primary-darkest: #03234d;
  --ifm-color-primary-light: #3783e6;
  --ifm-color-primary-lighter: #4d8ee2;
  --ifm-color-primary-lightest: #6ea1e3;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.key {
    color: #0077b6;
}